*{
    margin: 0;
    padding: 0;
}

header img{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30PX;
    padding: 5px;
}
header{
    background-color: peachpuff;
}
header div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
      
}
header nav{
    display: flex;
    justify-content: space-around;
}

